<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get In Touch</h2>
                <h3 class="section-subheading" style="color: white;">
                    I'm currently open to new opportunities as a Senior or Lead Game Designer.
                </h3>
                <div class="contact-button-container" style="margin-top: 50px;">
                    <a href="mailto:marco.mortillaro.gd@gmail.com" class="btn btn-xl" style="background-color: #fed136; border-color: #fed136; color: black;">
                        <i class="fa fa-envelope"></i> Send me an email
                    </a>
                </div>
                <p style="margin-top: 30px; color: #bbb;">
                    Or reach out via <strong><a href="https://www.linkedin.com/in/marcomortillaro/" style="color: white;">LinkedIn</a></strong>
                </p>
            </div>
        </div>
    </div>
</section>
