{% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr"><div class="rl"></div></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">

                            <div class="project-details-bar">
                            {% if post.platforms %}<div class="detail-item"><span>Platform</span>{{ post.platforms }}</div>{% endif %}
                            {% if post.role %}<div class="detail-item"><span>Role</span>{{ post.role }}</div>{% endif %}
                            {% if post.engine %}<div class="detail-item"><span>Engine</span>{{ post.engine }}</div>{% endif %}
                            {% if post.team-size %}<div class="detail-item"><span>Team</span>{{ post.team-size }}</div>{% endif %}
    
                            {% if post.steam-link %}
        <div class="detail-item">
        <span>Store</span>
        <a href="{{ post.steam-link }}" target="_blank" style="color: #6588A6; text-decoration: none;">
            <i class="fa fa-steam"></i> Steam Page
        </a>
    </div>
    {% endif %}
</div>

                            <div class="project-content-text">
                                {{ post.content }}
                            </div>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
